<a href="https://colab.research.google.com/github/tianfa-lee/Housing-Price-Prediction/blob/main/Housing%20Price%20Prediction%20(Linear%20Regression).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install --upgrade category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 2.3MB/s
Requirement already satisfied, skipping upgrade: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied, skipping upgrade: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied, skipping upgrade: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.1.4)
Requirement already satisfied, skipping upgrade: patsy>=0.5.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied, skipping upgrade: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied, skipping upgrade: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.18.5)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.17.0)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import category_encoders as ce
%matplotlib inline

Mounted at /content/gdrive

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
import os
os.chdir("/content/gdrive/My Drive/EE4483 Assignment/Option 1/data")

# Load training training & testing dataset and remove Id 
train_input = pd.read_csv('./train.csv')
train_input.pop('Id')

0         1
1         2
2         3
3         4
4         5
       ...
995     996
996     997
997     998
998     999
999    1000
Name: Id, Length: 1000, dtype: int64

In [ ]:
train_input

    BldgType  OverallQual  GrLivArea  GarageArea  SalePrice
0       1Fam            7       1710         548     208500
1       1Fam            6       1262         460     181500
2       1Fam            7       1786         608     223500
3       1Fam            7       1717         642     140000
4       1Fam            8       2198         836     250000
..       ...          ...        ...         ...        ...
995     1Fam            4       1230         305     121600
996     1Fam            5       1050         368     136500
997     1Fam            6       1442         615     185000
998     1Fam            3       1077         210      91000
999     1Fam            7       1208         632     206000

[1000 rows x 5 columns]

In [ ]:
# Convert BldgType into one-shot vector of length 5
encoder = ce.OneHotEncoder(use_cat_names=True)
train_encoded = encoder.fit_transform(train_input)

# Split training dataset into train and validation dataset at ratio of 4:1
# Further split the train dataset into x_train & y_train and the test dataset into x_test & y_test

x_train = train_encoded.sample(frac=0.8,random_state=0)
x_test = train_encoded.drop(x_train.index)

y_train = x_train.pop('SalePrice')
y_test = x_test.pop('SalePrice')

/usr/local/lib/python3.6/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [ ]:
regressor = LinearRegression()  
regressor.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
new_data = train_encoded
new_label = new_data.pop('SalePrice')
y_pred = regressor.predict(new_data)
y_pred = y_pred.astype(int)
df = pd.DataFrame({'Actual': new_label, 'Predicted': y_pred.flatten()})
df

     Actual  Predicted
0    208500     225785
1    181500     166960
2    223500     234466
3    140000     233125
4    250000     301630
..      ...        ...
995  121600      99128
996  136500     121024
997  185000     188475
998   91000      56265
999  206000     203953

[1000 rows x 2 columns]

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

print('Mean Squared Error: {}'.format(mean_squared_error(df.Actual, df.Predicted)))

print('R2 Score: {}'.format(r2_score(df.Actual, df.Predicted)))

Mean Squared Error: 1515894076.692
R2 Score: 0.7646212209702702